.align-right {
    text-align: right;
}

.main {
    height: 580px;
}

.menu {
    /*height: 580px;*/
    height: auto;
    width: 180px;
    border-right: 1px solid #d1d1d1;
    color: black;
    float: left;
    padding: 10px;
}

table {
    float: left;
    margin: 30px;
}



.footer-line {
    clear: both;
}

footer {
    margin-top: 17px;
}


.clearfix:after {
    content: " ";
    display: none;
    clear: both;
}

.nextpage {
    float: right;
    padding:0 50px;
}


@media only screen and (max-width: 1495px) {
    
    .menu {
        float: none;
        border-right: none;
        height: auto;
    }

    table {
        float: none;
        margin: 10px auto;
    }
}
  