.content {
    width: 500px;
    margin: 70px auto;
    padding: 30px;
}

.truefalse {
    margin: 0 auto;
}

.result {
    text-align: center;
    font-size: 50px;
}

.link {
    margin: 20px 0 0 0;
}

@media only screen and (max-width: 500px) {

    .content{
        width: 100%;
        padding: 0;
    }

    
}