.content {
    width: 600px;
    border: 1px solid rgb(17, 17, 16);
    margin: 70px auto;
    padding: 30px;
}

.truefalse {
    margin: 0 auto;
}

.result {
    text-align: center;
    font-size: 50px;
}

.link {
    margin: 20px 0 0 0;
}