.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.content {
    height: 650px;
}

.title {
    display: block;
    font-size: 0;
}

.question {
    display: block;
    font-size: 0;
}

.choice {
    display: block;
    font-size: 0;
}

.select {
    display: block;
    font-size: 0;
}

.inline {
    display: inline-block;
    font-weight: 600;
    width: 150px;
    border: 1px solid rgb(124, 123, 123);
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 15px;
}

.inlineinput {
    display: inline-block;
    font-weight: 500;
    width: 550px;
    border: 1px solid rgb(124, 123, 123);
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 15px;
}

button {
    margin: 10px;
}